// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

*{
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  height: 100%;
  background-color: rgb(44, 49, 71);
}

.app-body {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: minmax(50px, auto);
  margin: 0;
  background-color: rgb(44, 49, 71);
}

.leaflet-container {
  height: 500px;
  grid-column: 1 / span 2;
  grid-row: 3;
}

.navbar{
  
  grid-row: 1;
}

// .container{
//   padding:0;
//   grid-column: 1 / span 2;
//   max-width: 100%;
//   display: flex;
//   align-items: center;
//   justify-items: center;
//   justify-content: space-around;
//   row-gap: 5px;
// }

.navbar input {
  width: 85%;
  height:100%;
  text-align: center;
}

.navbar button {
  width: 15%;
  height:100%;
}

.postcode-item{
  padding: 5px;

}

.crime-stats{
  grid-row: 4;
}

.weather-stats{
  grid-row: 5;
}



.estate-stats{
  grid-row: 6;
}